@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: #f8f8f8;
  }
  footer svg * {
    fill: #fff;
  }
  footer .socials li:hover {
    color: #ddd;
  }
}
